div.container {
    
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    
}

div.bottom {
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    margin: 20px;
    text-align: center;
    font-size: 10px;
}

h1 {
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    
}

p {
    padding-bottom: 100px;
    font-family: 'Lexend Deca', sans-serif; 
    color: white;
}

h3.sedans {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(31, 77%, 52%);
}
h3.suvs {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(184, 100%, 22%);
}
h3.luxury {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(179, 100%, 13%);
}



div.sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 33%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

div.suvs {
    background-color: hsl(184, 100%, 22%);
    width: 33%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

div.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 33%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
footer {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

@media screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
    }
    div.container {
        
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.sedans {
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px;
        width: auto;
        padding-top: 60px;
    }
    
    img{
        width: 140px;
        padding-top: 30px;
    }
    h1 {
        color: white;
        font-family: 'Big Shoulders Display', cursive;
        font-size: 100px;
        padding-top: 80px;
        
    }
    p {
        padding-bottom: 10px;
        padding-top: 60px;
        font-family: 'Lexend Deca', sans-serif; 
        font-size: 30px;
        color: white;
    }
    h3{

    }
    div.bottom {
        background-color: white;
        border-radius: 20px;
        
        margin: 100px;
        font-size: 15px;
        text-align: center;
    }
    
    div.suvs {
        background-color: hsl(184, 100%, 22%);
        border-radius: 10px;
        width: auto;
        padding-top: 60px;
    }
    
    div.luxury {
        background-color: hsl(179, 100%, 13%);
        border-radius: 10px;
        width: auto;
        padding-top: 60px;
}
footer {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10px;
}